.Toastify__toast {
	padding: 10px;
	font-family: nunito, serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Toastify__progress-bar--default {
	-webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px;
	background: #d90429;
}
